- current_step = nil
- current_part = nil
- next_part = nil
- next_step = nil
- next_link = nil
- guide = "app"

- data.app.steps.each do |step|
  - if current_step
    - next_step = step
    - unless next_link
      - if next_step[1].parts
        - next_link = "#{next_step[0]}/#{next_step[1].parts.first[0]}.html"
      - else
        - next_link = "#{next_step[0]}.html"
    - break
  - if step[0] == data.page.step
    - current_step = step
    - if step[1].parts
      - step[1].parts.each do |part|
        - if current_part
          - next_part = part
          - next_link = "#{current_step[0]}/#{next_part[0]}.html"
          - break
        - if part[0] == data.page.part
          - current_part = part


!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= "#{data.page.title} ^^ Rails Girls App Tutorial"
    %link{href: "http://fonts.googleapis.com/css?family=Cabin:400,600,700", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "normalize", "foundation", "app"
  %body{class: page_classes}

    
    = partial(:steps)
 
    #content
      %section{ id: data.page.part || data.page.step }
        %header
          %h1= data.page.title

        = yield

        - if next_link
          = link_to "continue", "/#{guide}/#{next_link}", class: 'button right', id: 'continue'

    = javascript_include_tag  "app"