<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="zfBBZC7U_W-U3H0KTE3TOSnnWSDEvTMQzzE6N7g0_AA" name="google-site-verification"/>
    <link href="/favicon.png" rel="shortcut icon"></link>
    <title>Rails Girls TLV</title>
    <% if I18n.locale == :en %>
      <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin:400,600,700" %>
    <% end %>
    <%= stylesheet_link_tag "normalize", "foundation", "lightbox", "site_layout", "content", "stylesheets/foundation/foundation", "team" %>
    <% if t(:direction) == 'rtl' %>
      <%= stylesheet_link_tag "app-rtl" %>
    <% end %>
    <% # Some SEO stuff %>
    <% description = data.page.description || 'Rails Girls Tel-Aviv—Yaffo aims at giving girls and women the tools for building their own ideas' %>
    <meta content="<%= description %>" name="description"/>
    <!-- Twitter Card data-->
    <meta name="twitter:card" value="<%= description %>"/>
    <!-- Open Graph data-->
    <meta content="Rails Girls TLV" name="og:title"/>
    <meta content="article" name="og:type"/>
    <meta content="http://railsgirls.co.il/" name="og:url"/>
    <meta content="http://railsgirls.co.il/images/social_networks_image.jpg" name="og:image"/>
    <meta content="<%= description %>" name="og:description"/>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <span class="header-top">
          <img class="header-logo" src="../images/site/logo.png" >
          <span class="header-logo-text">
            <div class="header-logo-text-main"><%= t('layout.footer.text') %></div>
            <div class="header-logo-text-sub"><%= t('layout.footer.subtext') %></div>
          </span>
        </span>
        <ul>
          <li><%= link_to t('layout.links.home'), localized_url('index.html') %></li>
          <li><%= link_to t('layout.links.events'), localized_url('events.html') %></li>
          <li><%= link_to t('layout.links.after'), localized_url('after.html') %></li>
          <li><%= link_to t('layout.links.team'), localized_url('team.html') %></li>

          <span class="language-selector">
            <%= link_to image_tag('/images/site/israel.png', class: "language-selector-image", alt: 'עברית'), "/", class: I18n.locale == :he ? 'active' : '' %>
            <%= link_to image_tag('/images/site/england.png', class: "language-selector-image", alt: 'English'), "/en", class: I18n.locale == :en ? 'active' : '' %>
          </span>

          <li class="header-guides">
            Guides
            <ul>
              <li>Web Design</li>
              <li>Web Development</li>
              <li>Illustrations</li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content center cf">
      <%= yield %>
    </div>

    <footer>
      <div class="footer-center">
        <div class="footer-upper">
          <span class="footer-upper-text"><%= t('layout.footer.text') %></span>
          <img src="../images/site/logo.png" >
          <span class="footer-upper-subtext"><%= t('layout.footer.subtext') %></span>
        </div>
        <hr class="footer-divider">
        <div class="footer-icons">
          <a href="https://www.facebook.com/railsgirls.telaviv.yaffo" target="_blank">
            <img class="footer-icon" src="/images/site/facebook.png" >
          </a>
          <a href="mailto:contact@railsgirls.co.il">
            <img class="footer-icons-mail" src="/images/site/mail.png" >
          </a>
        </div>
        <div class="footer-slogan"><%= t('layout.footer.slogan') %></div>
      </div>

    </footer>

  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/layout.js"></script>
</html>
