- wrap_layout :layout do
  
  %header
    .wrapper
      = partial(:logo)

      %nav
        %ul
          %li.has-dropdown
            = link_to t('getting-started'), guide_url('getting-started')
            %ul.dropdown
              %li= link_to t('installation-guide'), external_guide_url('install'), target: '_blank'
              %li= link_to t('tryruby-tutorial'), "http://tryruby.org", target: '_blank'

          %li.has-dropdown
            = link_to t('guides'), 'javascript://'
            %ul.dropdown
              %li= link_to t('app-guide'), guide_url('app')
              %li= link_to t('image-resizing-guide'), external_guide_url('thumbnails'), target: '_blank'
              %li= link_to t('design-guide'), guide_url('design')
              %li= link_to t('commenting-guide'), external_guide_url('commenting'), target: '_blank'
              %li= link_to t('heroku-guide'), external_guide_url('heroku'), target: '_blank'
              %li= link_to t('authentication-guide'), external_guide_url('devise'), target: '_blank'
              %li= link_to t('github-guide'), external_guide_url('github'), target: '_blank'

          %li= link_to t('contact'), localized_url('contact.html')

        /= link_to t('workshops'), localized_url('workshops')        

      .language-selector
        = link_to 'עב', "/", class: I18n.locale == :he ? 'active' : ''
        = link_to 'en', "/en", class: I18n.locale == :en ? 'active' : ''

  #content
    .wrapper.clearfix
      = yield

  = link_to 'https://github.com/rotev/rails-girls-il', id: 'fork', target: '_blank' do
    %img{alt: "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png", src: "https://github-camo.global.ssl.fastly.net/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67"}/