---
guide: app
step: picture-uploads
title: Add picture uploads
---

We need to install a piece of software to let us upload files in Rails.

Open `Gemfile` in the project directory using your text editor and add the following line to the list of gems:

= preserve do 
  - code("sh") do
    gem 'carrierwave'

**Coach:** Explain what libraries are and why they are useful. Describe what open source software is. <br><br>

Hit `CTRL-C` in the terminal to quit the server. Once it has stopped, in the terminal run:

= preserve do 
  - code("sh") do
    bundle install

Now we can generate the code for handling uploads. In the terminal run:


= preserve do 
  - code("sh") do
    rails generate uploader Picture

At this point you need to **start the Rails server process** in the terminal.

= preserve do
  - code("sh") do
    rails server

This is needed for the app to load the added library.

Open `app/models/idea.rb` and under the line

= preserve do 
  - code("ruby") do
    class Idea < ActiveRecord::Base

add

= preserve do 
  - code("ruby") do
    mount_uploader :picture, PictureUploader

Open `app/views/ideas/_form.html.erb` and change

= preserve do 
  - code("erb") do
    <%= f.text_field :picture %>

to


= preserve do 
  - code("erb") do
    <%= f.file_field :picture %>

Sometimes, you might get an *TypeError: can't cast ActionDispatch::Http::UploadedFile to string*.

If this happens, in file `app/views/ideas/_form.html.erb` change the line

= preserve do
  - code("erb") do
    <%= form_for(@idea) do |f| %>

to

= preserve do
  - code("erb") do
    <%= form_for @idea, :html => {:multipart => true} do |f| %>


In your browser, add new idea with a picture. When you upload a picture it doesn't look nice because it only shows a path to the file, so let's fix that.

Open `app/views/ideas/show.html.erb` and change


= preserve do 
  - code("erb") do
    <%= @idea.picture %>

to

= preserve do 
  - code("erb") do
    <%= image_tag(@idea.picture_url, :width => 50) if @idea.picture.present? %>

%p Now refresh your browser to see what changed.

**Coach:** Talk a little about HTML.
