---
guide: app
step: picture-uploads
title: הוספת אפשרות להעלאת תמונות
---

אנחנו נצטרך להתקין חתיכת תוכנה שתאפשר לנו להעלות קבצים ב-Rails.

פתחי את הקובץ `Gemfile` בתיקיית הפרוייקט באמצעות עורך הטקסט והוסיפי לרשימת ה-gems את השורה:

= preserve do 
  - code("ruby") do
    gem 'carrierwave'

**מאמן/ת:** הסבר/הסבירי מהן ספריות וכיצד הן מועילות. תאר/י מהי תוכנת קוד פתוח. <br><br>

לחצי על `CTRL-C` בטרמינל כדי לכבות את השרת.


%p ברגע שהוא עצר, בטרמינל הריצי:

= preserve do 
  - code("sh") do
    bundle install

כעת אנחנו יכולים לג'נרט את הקוד שמטפל בהעלאות. בטרמינל הריצי:

= preserve do 
  - code("sh") do
    rails generate uploader Picture

בשלב זה עליך **להריץ את שרת ה-Rails** בטרמינל.

= preserve do
  - code("sh") do
    rails server

זה נחוץ על מנת שהאפליקציה תטען את הספרייה שהתווספה.

פתחי את הקובץ `app/models/idea.rb` ומתחת לשורה

= preserve do 
  - code("ruby") do
    class Idea < ActiveRecord::Base

הוסיפי 

= preserve do 
  - code("ruby") do
    mount_uploader :picture, PictureUploader

פתחי את הקובץ `app/views/ideas/_form.html.erb` ושני את 

= preserve do 
  - code("erb") do
    <%= f.text_field :picture %>

ל- 


= preserve do 
  - code("erb") do
    <%= f.file_field :picture %>


לפעמים את יכולה להיתקל בשגיאה הבאה: *TypeError: can't cast ActionDispatch::Http::UploadedFile to string*
אם זה קורה, אז בקובץ `app/views/ideas/_form.html.erb`
שני את השורה

= preserve do
  - code("erb") do
    <%= form_for(@idea) do |f| %>

ל-

= preserve do
  - code("erb") do
    <%= form_for @idea, :html => {:multipart => true} do |f| %>


בדפדפן שלך, הוסיפי רעיון חדש עם תמונה. כשאת מעלה תמונה היא לא נראית כל כך טוב כי היא מציגה רק את הנתיב אל קובץ התמונה, אז בואי נתקן זאת.

פתחי את הקובץ `app/views/ideas/show.html.erb` ושני את 


= preserve do 
  - code("erb") do
    <%= @idea.picture %>

ל- 

= preserve do 
  - code("erb") do
    <%= image_tag(@idea.picture_url, :width => 50) if @idea.picture.present? %>

%p כעת רפרפשי את הדפדפן שלך כדי לראות מה השתנה.

**מאמן/ת:** דבר/י מעט על HTML.

<br/><br/>
%h4 תרגיל
בעמוד של רשימת הרעיונות, עדיין מוצג הנתיב אל התמונה במקום התמונה עצמה. נסי לתקן זאת!
