---
guide: app
step: whats-next
title: What's next?
---

%p If you were quick enough to finish everything you can continue improving your app using the following guides:
%ul
  %li= link_to 'Allow commenting on your ideas', 'http://guides.railsgirls.com/commenting/', target: '_blank'
  %li= link_to 'Resize your images using Carrierwave', 'http://guides.railsgirls.com/thumbnails/', target: '_blank'
  %li= link_to 'Put your application online with Heroku', 'http://guides.railsgirls.com/heroku/', target: '_blank'
  %li= link_to 'Add authentication with Devise', 'http://guides.railsgirls.com/devise', target: '_blank'  
  %li= link_to 'Push your app to Github', 'http://guides.railsgirls.com/github/', target: '_blank'