---
guide: app
step: whats-next
title: מה הלאה?
---

%p אם היית מהירה מספיק בשביל לסיים הכל לפני שהסדנה הסתיימה, את מוזמנת להמשיך ולשפר את האפליקצייה שבנית באמצעות המדריכים האלו:
%ul
  %li= link_to 'אפשרי להוסיף תגובות לרעיונות שלך', 'http://guides.railsgirls.co.il/commenting/', target: '_blank'
  %li= link_to 'בצעי Resize לתמונות באמצעות Carrierwave', 'http://guides.railsgirls.co.il/thumbnails/', target: '_blank'
  %li= link_to 'העלי את האפליקצייה שלך לאינטרנט באמצעות Heroku', 'http://guides.railsgirls.co.il/heroku/', target: '_blank'
  %li= link_to 'הוסיפי אותנטיקציה עם Devise', 'http://guides.railsgirls.co.il/devise', target: '_blank'  
  %li= link_to 'דחפי את האפליקצייה שלך ל-Github', 'http://guides.railsgirls.co.il/github/', target: '_blank'