---
guide: getting-started
step: 
title: Getting started
---

%p So you're attending our workshop, huh? That's great! Here is what you need to do:
%table.table
  %tr
    %td 
      = link_to 'Install', 'http://guides.railsgirls.com/install', class: 'button small radius', target: '_blank'
    %td Install the required software on your laptop using this guide.
  %tr
    %td 
      = link_to 'TryRuby', 'http://tryruby.org', class: 'button small radius', target: '_blank'
    %td 
      Play with the "Try Ruby" tutorial. You don't have to finish it. Working on it for half an hour is enough.
  %tr
    %td= link_to 'App guide', guide_url('app'), class: 'button small radius'
    %td During the workshop we'll build a Rails app from scratch using this guide.


%p If you were quick enough to finish everything you can continue improving your app using the following guides:
%ul
  %li= link_to 'Allow commenting on your ideas', 'http://guides.railsgirls.com/commenting/', target: '_blank'
  %li= link_to 'Resize your images using Carrierwave', 'http://guides.railsgirls.com/thumbnails/', target: '_blank'
  %li= link_to 'Put your application online with Heroku', 'http://guides.railsgirls.com/heroku/', target: '_blank'
  %li= link_to 'Add authentication with Devise', 'http://guides.railsgirls.com/devise', target: '_blank'  
  %li= link_to 'Push your app to Github', 'http://guides.railsgirls.com/github/', target: '_blank'