---
guide: getting-started
step: 
title: איך מתחילים?
---

%p כבר התחלת! את רשומה לסדנה. עכשיו בואי תכיני את המחשב שלך ותתחילי לעבוד.

%table.table
  %tr
    %td= link_to 'מדריך ההתקנה', 'http://guides.railsgirls.co.il/install', class: 'button small radius', target: '_blank'
    %td התקיני את התוכנה הדרושה על הלפטופ שלך באמצעות מדריך ההתקנה.

  %tr
    %td= link_to 'TryRuby', 'http://tryruby.org', class: 'button small radius', target: '_blank'
    
    %td שחקי קצת עם הטוטוריאל של "Try Ruby". את לא צריכה לסיים את כולו. מספיק שתעבדי עליו חצי שעה.

  %tr
    %td= link_to 'מדריך האפליקצייה', guide_url('app'), class: 'button small radius'
    %td בזמן הסדנה אנחנו נבנה ביחד אפליקציית Rails מאפס באמצעות מדריך האפליקצייה.
    
%p
  =link_to 'הצטרפי אלינו לקבוצת פייסבוק', 'https://www.facebook.com/groups/262304173924814/', class: 'button small radius', id: "facebook_button", target: '_blank'
  כדי לשתף בעיות בזמן הסדנה ולהמשיך להעזר בנו גם אחריה.

%p אם היית מהירה מספיק בשביל לסיים הכל לפני שהסדנה הסתיימה, את מוזמנת להמשיך ולשפר את האפליקצייה שבנית באמצעות המדריכים האלו:
%ul
  %li= link_to 'אפשרי להוסיף תגובות לרעיונות שלך', 'http://guides.railsgirls.co.il/commenting/', target: '_blank'
  %li= link_to 'בצעי Resize לתמונות באמצעות Carrierwave', 'http://guides.railsgirls.co.il/thumbnails/', target: '_blank'
  %li= link_to 'העלי את האפליקצייה שלך לאינטרנט באמצעות Heroku', 'http://guides.railsgirls.co.il/heroku/', target: '_blank'
  %li= link_to 'הוסיפי אותנטיקציה עם Devise', 'http://guides.railsgirls.co.il/devise', target: '_blank'  
  %li= link_to 'דחפי את האפליקצייה שלך ל-Github', 'http://guides.railsgirls.co.il/github/', target: '_blank'