---
guide: getting-started
step: 
title: איך מתחילים?
---

%p אז את משתתפת בסדנה שלנו, הא? איזה יופי! זה מה שאת צריכה לעשות:
%ol
  %li
    התקיני את התוכנה הדרושה על הלפטופ שלך באמצעות 
    = link_to 'מדריך ההתקנה', 'http://guides.railsgirls.co.il/install', target: '_blank'
  %li
    שחקי קצת עם הטוטוריאל של "Try Ruby" כאן:
    = link_to 'TryRuby', 'http://tryruby.org', target: '_blank'
    \.
    את לא צריכה לסיים את כולו. מספיק שתעבדי עליו חצי שעה.
  %li
    בזמן הסדנה אנחנו נבנה ביחד אפליקציית Rails מאפס באמצעות
    = link_to 'מדריך האפליקצייה', guide_url('app')

%p אם היית מהירה מספיק בשביל לסיים הכל לפני שהסדנה הסתיימה, את מוזמנת להמשיך ולשפר את האפליקצייה שבנית באמצעות המדריכים האלו:
%ul
  %li= link_to 'אפשרי להוסיף תגובות לרעיונות שלך', 'http://guides.railsgirls.co.il/commenting/', target: '_blank'
  %li= link_to 'בצעי Resize לתמונות באמצעות Carrierwave', 'http://guides.railsgirls.co.il/thumbnails/', target: '_blank'
  %li= link_to 'העלי את האפליקצייה שלך לאינטרנט באמצעות Heroku', 'http://guides.railsgirls.co.il/heroku/', target: '_blank'
  %li= link_to 'הוסיפי אותנטיקציה עם Devise', 'http://guides.railsgirls.co.il/devise', target: '_blank'  
  %li= link_to 'דחפי את האפליקצייה שלך ל-Github', 'http://guides.railsgirls.co.il/github/', target: '_blank'