.welcome
  %p
    Rails Girls aims to give girls and women the tools to build their ideas
  %p 
    %strong Rails Girls Tel-Aviv–Yaffo 
    is the home for the Israeli branch of the
    = link_to 'worldwide organization', 'http://railsgirls.com', target: "_blank"

#workshops
  %p
    Rails Girls is a free day and half long workshop. You get to work in small groups to build web applications from scratch using a programming language named Ruby on Rails. You'll get step by step help from our volunteers, experienced web developers.
  %p
    The first Rails Girls event was held in Helsinki in 2010, and since then over 250 workshops have been held in cities around the world. In 2013 we brought the initiative to Israel, and since then have run 4 awesome workshop in Tel Aviv. And we even made it
    = link_to 'into Saloona!', 'http://saloona.co.il/anatshapiraspace/?p=1780', target: "_blank"


  %h1 Upcoming workshops

  = link_to "http://railsgirls.com/tel-aviv-20150327", target: '_blank' do
    %article
      .where Tel-Aviv
      .when 26-27/3/2015

  = link_to "http://railsgirls.com/tel-aviv-20150508", target: '_blank' do
    %article
      .where Tel-Aviv
      .when 14-15/5/2015


#photos
  = gallery_photo "events/1/1.jpg"
  = gallery_photo "events/1/2.jpg"
  = gallery_photo "events/1/3.jpg"
  = gallery_photo "events/1/5.jpg", 'active'