- guide = "app"
#steps
  %ul
    -# I18n.t(:steps).each do |step|
    - data.app.steps.each do |step|
      %li{ class: "#{data.page.step == step[0] ? 'active' : ''}"}
        - link = step[1].parts ? "#{step[0]}/#{step[1].parts.first[0]}" : step[0]
        = link_to t(step[0], default: step[1].title), "/#{guide}/#{link}.html"

        - if step[1].parts
          - parts = step[1].parts
          %ul
            - parts.each do |part|
              %li{ class: "#{data.page.part == part[0] ? 'active' : ''}"}
                = link_to t(part[0], default: part[1].title), "/#{guide}/#{step[0]}/#{part[0]}.html"
